body {
display: flex;
flex-direction: row;
justify-content: space-between;
}


.toprow, .bottomrow {
    height:300px;
    width: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: space-evenly;
    border: solid 1px limegreen;
}
p {
    height: 20px;
    width: 20px;
    margin: auto;

}
.toprow {
    background-color: khaki;
}

.bottomrow {
    background-color: lightgray;
}

.top {
    background-color:lightskyblue;
}

.bottom {
    background-color: indianred;
}
